html {
    background-color: #3d3b3c;
}

 body {
    margin: 40px auto;
    width:80%;
    font-family: "Georgia", serif;
    background-color: #4b4a3a; /* cream*/
    padding: 0 0 25px 0; /* top right bottom left */
   }

div img {
    width: 100%;
    height: auto;
    display: block;
  }

  .hero {
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
  }
  
  /* Full-width image */
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Dark overlay only on the image */
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  /* Overlay text */
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    z-index: 2;
    margin: 0;
    padding: 0 10px;
    width:80%
  }

h1 {
    text-align:center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba (0,0,0,0,7);
    position:relative;
    padding: 50px 20px;
    display: inline-block;
}

nav {
    background-color:#7d7b6d;
    padding: 10px 0;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav ul {
    list-style-type:none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: #FFF8e7;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
    transition: color 0.3s;
    padding: 14px 16px
}

nav ul li a:hover {
    color: #4b4a3a;
}

h2 {
    font-size:2em;
    color:#FFF8e7;
    text-align: center;
    margin: 40px 0 20px;
}

.thesis {
    padding: 25px 80px 25px 80px;
}

p {
    font-size: 2em;
    color: #FFF8e7;
    font-family: "Georgia", serif;
    line-height: 1.5;
}
